<!-- 上傳檔案頁面：uploadfile.html -->
<p><a href="/">back</a></p>
<!-- 以下部分為基本上傳檔案的表單寫法 -->
<form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file"/>
    <input type="submit"/>
</form>

<!-- 以下部分為檔案上傳完後，導回此頁並顯示檔案相關資訊 -->

{% if filekey != None %}

    <p>File Name : {{ filename }}</p>
    <p>File Blob Key : {{ filekey }}</p>
    <p>File Type : {{ filetype }}</p>
    <p>File Size : {{ filesize }}</p>

    <!-- 利用 Blobstore key 取得檔案 -->
    {% if filetype == 'video/mp4' %}
        <video width="640" height="480" controls loop poster="">
            <source src="/servefile/{{ filekey }}" type="video/mp4">
        </video>
    {% else %}
        <img width="640" height="480" src="/servefile/{{ filekey }}" />
    {% endif %}
{% endif %}

{% if files|length > 0 %}

    <h3>File List:</h3>
    filename / filekey / filesize:
    <br/>
    {% for fs in files %}
        {{ fs.filename }} / <a target="_blank" href="/servefile/{{ fs.key }}">檔案連結</a> / {{ fs.size|filesizeformat }}
        <br/>
    {% empty %}
        no file...
    {% endfor %}

{% endif %}
